.theme-container.sb-blog {
    .content { 
        text-align: center; 
    }

    .content h2 {
        text-align: left;
        display: block;
    }

    .content .tip {
        text-align: left;
    }
}